<!doctype html>
<html lang="fr">

<head>
    <title>Portes Ouvertes Institut Grasset</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS SANS CDN-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!-- Override de Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/custom2.css">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
    <script src="/js/accueil.js"></script>
    <!-- /Users/herminie/JPO/routes/accueil/accueil.js ???-->
</head>
<style>
    a{
        text-decoration: none;
    }
</style>

<body>


    <div class="container" id="shadow" style="padding:0; background-color: yellow; border: 1px solid white;">
        <div class="row" style="border-right: 1px solid white; border-bottom: 1px solid white;">

            <div class="container" id="shadow"
                style="padding-left: 7px; background-color: #162b65; border: 1px solid white;">
                <img src="/images/logo_blanc.png" alt="Logo" style="height: 70px;">
            </div>

        </div>
        <nav style="padding-left:0;" class="nav nav-pills-notstyle flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link active" href="/PortesOuverts/accueil.html">ACCUEIL</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/PortesOuverts/conference.html">CALENDRIER</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/PortesOuverts/chat.html">CLAVARDER</a>
            <a id="visitevirtuelle" class="flex-sm-fill text-sm-center nav-link" href="visiter.html"
                target="_blank">VISITER</a>
            <a id="faq" class="flex-sm-fill text-sm-center nav-link" href="faq.html" target="_blank">FOIRE AUX
                QUESTIONS</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/PortesOuverts/brochures.html">BROCHURES</a>
        </nav>

    </div>

    <div class="container" id="shadow" style="padding:0; border-left:1px solid white;border-right:1px solid white;">
        <div class="row">

            <div class="col">

                <h3 id="title" class="w.300" style="padding-top: 30px; padding-left: 15px;color: #162b65; ">
                </h3>

                <br>
                <h5 id="subtitle" class="w.500" style="color:crimson; padding-left: 15px;"></h5>


                <p id="welcomeText" style="padding-left: 15px;font-weight:300; ; color: #162b65; text-align: justify;">
                    Vitae et leo duis ut. Libero justo laoreet sit amet. Purus viverra accumsan in nisl nisi
                    scelerisque.
                    Accumsan tortor posuere ac ut consequat semper. Elementum pulvinar etiam non quam lacus. Semper
                    viverra nam libero justo laoreet sit amet. A cras semper auctor neque vitae tempus quam pellentesque
                    nec. Pulvinar pellentesque habitant morbi tristique. Aliquam eleifend mi in nulla posuere sollicitudin
                    aliquam ultrices sagittis. Non nisi est sit amet facilisis magna etiam.<br> </p>

                <div style="padding-left: 15px;"><img class="img-fluid" src="/images/accueil_img.jpg"></div>
                <p
                    style="padding-top: 26px; padding-left: 15px;font-weight:300; ; color: #162b65; text-align: justify;">
                    Velit euismod in pellentesque massa placerat. Faucibus pulvinar elementum integer enim neque
                    volutpat
                    ac. Tristique senectus et netus et malesuada fames ac turpis egestas. Dictum sit amet justo donec.
                    Consequat interdum varius sit amet mattis vulputate enim. Interdum velit laoreet id donec ultrices
                    tincidunt arcu. In fermentum et sollicitudin ac orci phasellus egestas tellus. Pellentesque eu
                    tincidunt tortor aliquam nulla.
                    Elit pellentesque habitant morbi tristique senectus et netus et. In ornare quam viverra orci.
                    Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Cras fermentum odio eu feugiat
                    pretium nibh ipsum consequat.
                </p>


            </div>


            <div class="col">
                <div style="padding-top:40px;padding-right: 15px; padding-bottom: 15px;">
                    <iframe id="video1" width="560" height="315"  frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <p style="padding-right: 15px;font-weight:300; ; color: #162b65; text-align: justify;">Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>

                <h5 class="w.500" style="color:crimson;">sous-titre</h5>

                <p style="padding-right: 15px;font-weight:300; ; color: #162b65; text-align: justify;">
                    Id cursus metus aliquam eleifend mi in nulla posuere. Quam quisque id diam vel quam elementum
                    pulvinar etiam. Lacinia quis vel eros donec ac odio. Lorem ipsum dolor sit amet consectetur
                    adipiscing elit. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Interdum velit
                    laoreet id donec. Viverra maecenas accumsan lacus vel. Vitae ultricies leo integer malesuada.
                    Tincidunt vitae semper quis lectus nulla at. Purus faucibus ornare suspendisse sed nisi lacus sed.
                    Non curabitur gravida arcu ac. Vel quam elementum pulvinar etiam non. Morbi leo urna molestie at elementum. Massa placerat duis ultricies lacus. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae
                    elementum. </p>
                <div style="padding-top:6px;padding-right: 15px; padding-bottom: 15px;">
                    <iframe id="video2" width="560" height="315" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                        <p style="padding-right: 15px;font-weight:300; ; color: #162b65; text-align: justify;"> Eget aliquet nibh praesent tristique. Quisque egestas diam in arcu cursus euismod.
                            Condimentum mattis pellentesque id nibh tortor.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="shadow"
        style="padding:0; background-image: repeating-linear-gradient(135deg,crimson, red 2%); border: 1px solid white; height:8px;">

    </div>

    <div class="container" id="shadow" style="padding:0; background-color: #162b65; border: 1px solid white;">
        <div class="row" style="border-right: 1px solid white; border-bottom: 1px solid white;height: 80px;">
        </div>
    </div>


</body>

</html>