<!doctype html>
<html lang="fr">

<head>
    <title>Accueil Portes Ouvertes Institut Grasset</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS SANS CDN-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!-- Override de Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/custom2.css">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
        <script src="/js/accueil.js"></script>
</head>

<body>

    <div class="container" id="shadow" style="padding:0; background-color: #162b65; border: 1px solid white;">
        <div class="row" style="border-right: 1px solid white; border-bottom: 1px solid white;">
            
<div class="container" id="shadow" style="padding-left: 7px; background-color: #162b65; border: 1px solid white;">
        <img src="/images/logo_blanc.png" alt="Logo" style="height: 70px;">
    </div> 

        </div>
        <nav style="padding-left:0;" class="nav nav-pills-notstyle flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link active" href="index.html">ACCUEIL</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/PortesOuverts/conference.html">CALENDRIER</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="clavarder.html">CLAVARDER</a>
            <a id="visitevirtuelle" class="flex-sm-fill text-sm-center nav-link" href="visiter.html" target="_blank">VISITER</a>
            <a id="faq" class="flex-sm-fill text-sm-center nav-link" href="faq.html" target="_blank">FOIRE AUX QUESTIONS</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="brochures.html">BROCHURES</a>
        </nav>

    </div>

    <div class="container" id="shadow" style="padding:0; border-left:1px solid white;border-right:1px solid white;">
        <div class="row">

            <div class="col">
                <h3 class="w.300" style="padding-top: 30px; padding-left: 15px;color: #162b65; ">Titre de la section
                </h3>
                <h5 class="w.500" style="color:crimson; padding-left: 30px;">Sous-titre</h5>
                <p style="padding-left: 15px;font-weight:300; ; color: #162b65; text-align: justify;"><br>Lorem ipsum
                    dolor sit
                    amet, consectetur adipiscing elit. Nunc lobortis augue et enim lacinia, non
                    pretium lacus fermentum. Sed sit amet lacus eget ipsum rutrum consequat quis ut sem. Integer
                    tincidunt ac orci eget hendrerit. Nunc in luctus libero. Proin facilisis placerat est eu vehicula.
                    In malesuada feugiat eros, sit amet varius magna dignissim eget. Integer mollis porttitor fringilla.
                    Vestibulum eget arcu sollicitudin, dignissim massa non, convallis metus. </p>
            </div>
            <div class="col">
                <div style="padding-top: 15px;padding-right: 15px; padding-bottom: 15px;">
                    <img class="img-fluid" src="/images/accueil_img.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="shadow" style="padding:0; background-image: repeating-linear-gradient(135deg,crimson, red 2%); border: 1px solid white; height:8px;">
       
            </div>

    <div class="container" id="shadow" style="padding:0; background-color: #162b65; border: 1px solid white;">
        <div class="row" style="border-right: 1px solid white; border-bottom: 1px solid white;height: 80px;">
            </div>
            </div>


</body>

</html>