<!doctype html>
<html lang="fr">

<head>
    <title>Portes Ouvertes Institut Grasset</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS SANS CDN-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!-- Override de Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/custom2.css">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
    <script src="/js/accueil.js"></script>
    <!-- /Users/herminie/JPO/routes/accueil/accueil.js ???-->
</head>

<body>


    <div class="container" id="shadow" style="padding:0;">

        <div class="container" style="padding:0; background-color: #162b65; border: 1px solid white; ">
            <div class="row" style="padding:0; ">
                <div class="col-2">
                    <img alt="Logo" style="padding-left: 7px; height: 60px;"
                        src="/images/IGR_Logo_CMYK_Horiz-Sign_blanc.png">
                </div>
                <div class="col-7">
                </div>
                <div class="col-3" style="text-align: right; ">
                    <h6><a class="blanc" href=" /PortesOuvertsConfig/login.html">configuration</a>&nbsp</h6>
                </div>
            </div>
        </div>

        <nav style="padding-left:0;" class="nav nav-pills-notstyle flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link active" href="/PortesOuverts/accueil.html">ACCUEIL</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/PortesOuverts/conference.html">CALENDRIER</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/PortesOuverts/chat.html">CLAVARDER</a>
            <a id="visitevirtuelle" class="flex-sm-fill text-sm-center nav-link" href="visiter.html"
                target="_blank">VISITER</a>
            <a id="faq" class="flex-sm-fill text-sm-center nav-link" href="faq.html" target="_blank">FOIRE AUX
                QUESTIONS</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/PortesOuverts/brochures.html">BROCHURES</a>
        </nav>


        <div class="container" id="shadow" style="padding:0; border-left:1px solid white;border-right:1px solid white;">
            
            <div class="row" style="padding-top: 30px; padding-left: 15px;">

                <div class="col">
                    <h3 id="title" ></h3>
                    <br>
                    <h4 id="subtitle">blabla</h4>
                    <p style="text-align: justify;" id="welcomeText"></p>
                    <br>
                    <div>
                        <img class="img-fluid" src="/images/accueil_img.jpg">
                    </div>
                    <br>
                    <p style="text-align: justify;" id="welcomeText2"
                        style="padding-right: 15px;">
                    </p>
                </div>


                <div class="col">
                    <div style="padding-top:40px;padding-right: 15px; padding-bottom: 15px;">
                        <iframe id="video1" width="560" height="315" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <p style="text-align: justify;" id="welcomeText3"
                        style="padding-right: 15px;">Il faut que tu crées dynamiquement un welcomeText3 sorry:)
                    </p>

                    <!-- //////PAS DE VIDEO 2 ////////////////////////////////////////////////////////////////////////// -->
                    <!-- <div style="padding-top:6px;padding-right: 15px; padding-bottom: 15px;">
                        <iframe id="video2" width="560" height="315" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div> -->
                </div>
            </div>
        </div>

        
        <div class="container" style="padding:0; background-color: #162b65;">
            <div class="row" style="height: 80px;">
            </div>
        </div>
        <div class="container" style="padding:0;   background-image: repeating-linear-gradient(135deg,crimson, red 15%);
        ">
            <div class="row" style="height: 10px;">
            </div>
        </div>
        

    </div>

    


</body>

</html>