<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UFT-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="/js/chat.js"></script>
  <title>Chat institute grasset</title>
</head>
<body>

  <div class="col-8">
    <div id="resultat">
      <div class="row row-cols-3" id="cardsContainer">
      </div>
    </div>

      <!-- Start of Tawk.to Script-->
<script type="text/javascript"> 
  var urlRaw= window.location.href;
  console.log(typeof urlRaw);
  var urlClean = new URL(urlRaw);
  let link = urlClean.searchParams.get("linkchat").slice(1, -1);
  console.log(typeof link);
  console.log(link);
  
  
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src=link;
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script -->

</body>
</html>