<!doctype html>
<html lang="fr">

<head>
    <title>Portes Ouvertes Institut Grasset</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS SANS CDN-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!-- Override de Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/custom2.css">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
    <script src="/js/login-form.js"></script>
</head>

<body>

    <div class="container" id="shadow" style="padding:0;">

        <div class="container" style="padding:0; background-color: #162b65; border: 1px solid white; ">
            <div class="row" style="padding:0; ">
                <div class="col-2">
                    <img src="/images/IGR_Logo_CMYK_Horiz-Sign_blanc.eps" alt="Logo" style="padding-left: 7px; height: 65px;">
                </div>
                <div class="col-7">
                </div>
                <div class="col-3" style="text-align: right;">
                    <p><a class="blanc" href=" /PortesOuvertsConfig/login.html">
                            configuration
                        </a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="shadow" style="background-color: #162b65;border: 1px solid white;">
            <div class="row">
                <div class="col" style="text-align: center; padding-top: 10px;">

                    <h2 class="blanc">BIENVENUE <span class="w300">AUX</span></h2>
                </div>
            </div>
        </div>

        <div class="container" id="shadow" style="background-color: #162b65; border: 1px solid white;">
            <div class="row">
                <div class="col" style="padding-top:18px; border-bottom: 0; text-align: center;">
                    <h1 class="blanc">PORTES OUVERTES VIRTUELLES</h1>
                </div>
            </div>
            <div class="row" style="height:5px; background-color: white;"></div>
        </div>

        <div class="container" id="shadow"
            style="padding-left:40px; padding-right:40px;background-color: #162b65; border: 1px solid white;">

            <div class="form-wrap">
                <form action="/PortesOuverts/loginpublic/loginpublic" method="POST">
                    <label style="padding: 3px; margin-top:10px;" for="email">
                        <h5 class="blanc">Connectez-vous avec l'adresse
                            courriel utilisée pour vous inscrire</h5>
                    </label>
                    <input type="email" class="form-control" name="username" id="username"
                        placeholder="Adresse courriel" required="yes">
                    <div class="form-group">
                        <center>
                            <button class="btn bouton-rouge" style=" margin-top: 15px;" type="submit"
                                value="Entrer" name="index">
                                <h5><strong>entrer</strong></h5>
                            </button></a>
                        </center>
                    </div>
                </form>
            </div>

        </div>

        <div class="container" id="shadow" style="background-color: #162b65; border: 1px solid white;">
            <div class="row">
                <div class="col" style="border-bottom: 1px solid white; text-align: center; padding: 10px;">

                    <!-- <h5>Pas encore inscrit(e) ? Aller au 
                        <a href="site1_index_formulaire.html#jump_inscrire">formulaire d'inscription</a> 
                        <a href="http://jpo-form-test.institutgrassetinfo.com/">ENTRER COMME INVITÉE</a> -->

                    <h5 class="blanc">Pas encore inscrit(e) ? Aller au
                        <a class="blanc" href="http://jpo-form-test.institutgrassetinfo.com/">formulaire d'inscription</a> |
                        <a class="blanc" href="/PortesOuverts/loginpublic/loginpublic">Entrer comme invité(e)</a>
                    </h5>
                    </a>
                </div>
                <img class="col-md-auto" src="/images/login_img.jpg" style="padding-left: 0px; padding-right: 0px;">
            </div>
        </div>

    </div>

</body>

</html>