<!doctype html>
<html lang="fr">

<head>
    <title>Portes Ouvertes Institut Grasset-Console d'administrateur</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;0,800;1,300;1,500;1,700&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS SANS CDN-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!-- Override de Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/custom2.css">

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
    <script src="/js/changerpwd.js"></script>
</head>

<body>

    <div class="container" id="shadow" style="padding:0; background-color: #162b65; border: 1px solid white;">
        <div class="row" style="border-right: 1px solid white; border-bottom: 1px solid white;">
            <div class="col-2">
                <div style="border-left: 1px solid white;">
                    <a href="https://www.institut-grasset.qc.ca" target="_blank">
                    <img src="/images/logo_blanc.png" alt="Logo" style="padding-left: 7px;height: 70px;">
                </a>
                </div>
            </div>
            <div class="col-10">
            </div>
        </div>
    </div>
    <div class="container" id="shadow" style="background-color: #162b65; border: 1px solid white;">
        <div class="row">
            <div class="col" style="text-align: center; padding-top: 5px;">
                <h2 class="w700 blanc">ADMINISTRATION DU SITE</h2>
            </div>
        </div>
        <div class="row" style="height:5px; background-color: white;"></div>
    </div>

    <div class="container" id="shadow" style="border: 1px solid white;" s>
        <div class="row">
            <div class="col">
                <h4 class="w300" style="color:#162b65; text-align: center;"><br>Pour réinitialiser votre mot de passe,
                    veuillez saisir vos identifiants</h4>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <center>
                        <form id="formulaire">

                            <label for="uname"><b>
                                    <h5 class="w300" style="color: #162b65" ;>Nom d'utilisateur</h5>
                                </b></label>
                            <br>
                            <input class="w300" type="text" placeholder="Nom utilisateur" name="username" required>
                            <br><br>
                            <label for="psw"><b>
                                    <h5 class="w300" style="color: #162b65" ;> Adresse email</h5>
                                </b></label>
                            <br>
                            <input id="email" name="courriel" email="email" class="w300" type="email"
                                placeholder="Adresse email" required>
                            <br><br>
                            <label for="psw"><b>
                                    <h5 class="w300" style="color: #162b65" ;> Mot de passe</h5>
                                </b></label>
                            <br>
                            <input class="w300" type="password" placeholder="Mot de passe" name="password" required>
                            <br><br>
                            <button name="envoyer" style=" margin-top: 15px; color: white; border: 0; width: 140px;background-image:
              repeating-linear-gradient(135deg,crimson, red 15%);" class="btn btn-primary">Envoyer</button>
                            <br>
                            <!-- <label>
                            <input style="text-align: right;" type="checkbox" checked="checked" name="remember">
                            <h6 class="w300" style="color: #162b65" ;>Se souvenir de moi</h6>
                        </label> -->

                        </form>
                        <br>

                    </center>
                </div>
            </div>
            <!--
            <div class="col"> <center>

                <form id="formulaire">
                    <div class="form-group">
                        <input type="text" id="username" name="username" type="text" class="form-control" placeholder="username" autofocus>
                    </div>
                  <div class="form-group">
                      <input type="text" id="email" name="courriel" email="email" class="form-control" placeholder="email" autofocus>
                  </div>
                  <button class="btn btn-primary btn-block">
                      Send
                  </button>
              </form>
            
        </center>
    </div>
         -->




            <div class="col" style="padding:10px; border-bottom: 0;">

            <a href="/">
                <h4 class="w300" style="color: #162b65; text-align: right;"><br>Revenir à la page d'accueil du site</h4>
            </a>

            </div>
        </div>


    </div>
    </div>
    </div>


</body>

</html>