<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Configuration</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/datatables.min.css" type="text/css">
	<link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/datatables.min.js"></script>
	<script src="/js/dataTables.select.min.js"></script>
	<script src="/js/configuration.js"></script>	
  </head>
  <style>
	  #overlay{	
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height:100%;
	display: none;
	background: rgba(0,0,0,0.6);
}
.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;  
}
.spinner {
	width: 40px;
	height: 40px;
	border: 4px #ddd solid;
	border-top: 4px #2e93e6 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
	100% { 
		transform: rotate(360deg); 
	}
}
.is-hide{
	display:none;
}
  </style>
  <body>

 	<div class="container">
		<div id="tabs" >
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item active" role="tab">
					<a  href="#tab1" >Configuration générale</a>
				</li>

				<li class="nav-item active">
					<a  href="#tab2" role="tab">Gestion des journées portes ouvertes </a>
					
				</li>
				<li class="nav-item active">
					<a  href="#tab3" role="tab">Gestion des conférenciers et des clavardeurs</a>
				</li>
				<li class="nav-item active">
					<a  href="#tab4" role="tab">Gestion des conférenciers et des clavardeurs</a>
				</li>
			</ul>
			<div>
				<div class="tab-pane active" id="tab1">
					<form role="formGeneral">
						<div class="form-group">
							 
						<label for="inputVirtualVisit">
								Lien visite virtuelle
							</label>
							<input type="text" class="form-control" name="virtualVisit" required required  maxlength="2">
						</div>
						<div class="form-group">
							<label for="inputFAQ">
								Lien FAQ
							</label>
							<input type="text" class="form-control" name="faq" required maxlength="255">
						</div>
						<div class="form-group">
							<label for="video1">
								Lien video 1
							</label>
							<input type="text" class="form-control" name="video1" required maxlength="255">
						</div>
						<div class="form-group">
							<label for="video2">
								Lien video 2
							</label>
							<input type="text" class="form-control" name="video2" required maxlength="255">
						</div>
						<div class="form-group">
							 
							<label for="inputMessage">
								Message de fin
							</label>
							<input type="textarea" class="form-control" name="message" required maxlength="255">
						</div>
						<div class="form-group">
							<label for="inputMessage">
								Message pour s'inscrire
							</label>
							<input type="textarea" class="form-control" name="noEvent" required maxlength="255">
						</div>
						
						<button type="button" class="btn btn-primary" name="saveGeneral">
							Enregistrer
						</button>
					</form>
				</div>
			
				<div class="tab-pane" id="tab2">
					<p>Gestion des journées portes ouvertes</p>
					<table class="table table-bordered" id="eventList"  style="width: 100%;">
						<thead>
							<tr>
								<th></th>
								<th>Date de début</th>
								<th>Nom</th>								
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal" name="addEvent">Ajouter</button>
					<button type="button" class="btn btn-primary" name="removeEvent">Effacer</button>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal" name="updateEvent">Mettre à jour</button>

					<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title" id="exampleModalLabel">Événement</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<div class="modal-body">
								<form role="form" enctype="multipart/form-data" id="eventForm">
									<div class="form-group" >
										<label for="descriptionEvent">Nom de l'événement</label>
										<input type="text" class="form-control" name="name" id="nameEvent">
									</div>
							
									<div class="form-group">
										Date de début: <input type="date" name="dateInitial" id="dateEvent" value="2020-11-02">
									</div>
									
								</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							  <button type="button" class="btn btn-primary" name="saveEvent">Enregistrer/Mettre à jour</button>
							</div>
						  </div>
						</div>
					  </div>		
			</div>

				<div class="tab-pane" id="tab3">
					<p>Gestion des enseignents</p>
					<table class="table table-bordered" id="speakerList"  style="width: 100%;">
						<thead>
							<tr>
								<th></th>
								<th>Image</th>
								<th>Nom</th>
								<th>Description</th>
								<th>Clavardage</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>

					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#speakerModal" name="addSpeaker">Ajouter</button>
					<button type="button" class="btn btn-primary" name="removeSpeaker">Effacer</button>
				<!--	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#speakerModal" name="updateSpeaker">Mettre à jour</button>-->

					<div class="modal fade" id="speakerModal" tabindex="-1" role="dialog" aria-labelledby="speakerModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
						  <div class="modal-content">
							<div class="modal-header">
							  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<div class="modal-body">
								<form role="form" enctype="multipart/form-data" id="speakerForm">
									<div class="form-group">
										<label for="inputNom">Nom</label>
										<input type="text" class="form-control" name="speakerName">
									</div>
									<div class="form-group"> 
										<label for="inputDescription">Description</label>
										<input type="text" class="form-control" name="speakerDescription">
									</div>
									<div class="form-group">
										<label for="exampleInputFile">Image</label>
										<input type="file" class="form-control-file" id="inputFile">
										<p class="help-block">Ajouter l'image.</p>
									</div>
									<div class="form-group">
										<label for="exampleInputFile">Clavardage</label>
										<input type="checkbox" id="chat" name="chat">										
									</div>					
								</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							  <button type="button" class="btn btn-primary" name="saveSpeaker">Enregistrer</button>
							</div>
						  </div>
						</div>
					  </div>		
			</div>
			<div class="tab-pane" id="tab4">
				<p>Gestion des conferences</p>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label >Evenement</label>
							<select  id="idEvent"></select>
							
						</div>
						<div class="form-group">
							<label for="inputNom">Nom de la conference</label>
							<input type="text" class="form-control" name="conferenceName">
						</div>
						<div class="form-group">
								Heure initial: <input type="time" name="commence" value="09:00">
								Heure final: <input type="time" name="end" value="09:00">
						</div>
						<div class="form-group">
							<label for="inputNom">Lien de la conference</label>
							<input type="text" class="form-control" name="linkConference">
						</div>
						<div class="form-group">
							<label >Conferencier</label>
							<select id="idSpeaker" ></select>
							
						</div>
						<form role="form" enctype="multipart/form-data" id="speakerForm">
							<button type="button" class="btn btn-primary" name="saveConference">
								Enregistrer
							</button>							
						</form>
					</div>
				</div>	
			</div>
		</div>
		</div>
		<div id="successAlert" class="alert alert-success collapse" role="alert">Les informations ont été enregistrées</div>
		<div id="errorAlert" class="alert alert-danger alert-dismissible collapse" role="alert" >
			<strong>Error!</strong> <span id="errorMesssge"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<div id="overlay">
		<div class="cv-spinner">
			<span class="spinner"></span>
		</div>
	</div>
  </body>
</html>