<!DOCTYPE html>
<html lang="fr">


<head>
    <title> Formulaire de Rapport d'inscription</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/custom2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>


    <script type="text/javascript">
        var datefield = document.createElement("input")
        datefield.setAttribute("type", "date")
        if (datefield.type != "date") {
            document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
            document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
            document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
        }
    </script>

    <script>
        if (datefield.type != "date") {
            jQuery(function ($) {
                $('#debut').datepicker();
                $('#debut').attr("readonly", true);
                $('#fin').datepicker();
                $('#fin').attr("readonly", true);
            })
        }
    </script>

    <script type="text/javascript">
        function add_insc(line) {
            document.getElementById("tab").innerHTML += "<td>" + line + "</td>";
        }
    </script>

    <script type="text/javascript">function validate() {
            var dddDebut = document.forms["monForm"]["debut"].value;
            var ddDebut = new Date(dddDebut);
            var dddFin = document.forms["monForm"]["fin"].value;
            var ddFin = new Date(dddFin);
            if (datefield.type != "date") {
                var yeard = dddDebut.slice(6, 10);
                var dayd = dddDebut.slice(3, 5);
                var monthd = dddDebut.slice(0, 2);

                var yearf = dddFin.slice(6, 10);
                var dayf = dddFin.slice(3, 5);
                var monthf = dddFin.slice(0, 2);

                document.forms["monForm"]["debut"].value = yeard + "-" + monthd + "-" + dayd;
                document.forms["monForm"]["fin"].value = yearf + "-" + monthf + "-" + dayf;

            }

            if (ddDebut.getTime() > ddFin.getTime()) {
                alert("Dates invalides (debut est plus grand que fin)");
                return false;
            } else {
                return true;
            }
        }</script>
</head>



<body>



    <div class="container" id="shadow" style="padding:0; background-color: #162b65; border: 1px solid white;">
        <div class="row" style="border-right: 1px solid white; border-bottom: 1px solid white;">
            <div class="col-2">
                <div style="border-left: 1px solid white;">
                    <img src="/images/logo_blanc.png" alt="Logo" style="padding-left: 7px;height: 70px;">
                </div>
            </div>
            <div class="col-10">
            </div>

        </div>
    </div>

    <div class="container" id="shadow" style="background-color: #162b65; border: 1px solid white;">
        <div class="row">
            <div class="col" style="text-align: center; padding-top: 5px;">
                <h2 class="w700 blanc">ADMINISTRATION DU SITE</h2>
            </div>
        </div>
        <div class="row" style="height:5px; background-color: white;"></div>
    </div>

    <div class="container" id="shadow" style="border: 1px solid white;" s>
        <div class="row">
            <div class="col">
                <h4 class="w300" style="color:#162b65; text-align: center;"><br>Sélection des date du rapport sur les inscriptions</h4>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <center>


                        <!--j'ai remplacé le bouton ci dessous par le lien de retour vers l'accueil-->
                        <!-- <button id="Accueil"><a href="/">Accueil</a></button> -->
                        <!--onsubmit="return validate()"-->
                        <form name="monForm" method="Post" action="/PortesOuvertsConfig/rapportInscription/myaction">
                            <!-- <h2> Selection de date de Rapport d'inscription</h2> -->

                            <label for="debut">debut:</label>
                            <input id="debut" type="date" name="debut" value="YYYY-MM-DD" required><br><br>

                            <label for="fin">fin:</label>
                            <input id="fin" type="date" name="fin" value="YYYY-MM-DD" required><br><br>

                            <input class="btn bouton-rouge" type="submit" value="Valider">
                            <p id="rp" class="blanc"></p>
                            <table id="tab">

                            </table>
                        </form>
                    </center>
                </div>
            </div>
            <div class="col" style="padding:10px; border-bottom: 0;">

                <a href="/index.html">
                    <h5 class="w300" style="color: #162b65; text-align: right;"><br>Revenir à la page d'accueil du site
                    </h5>
                </a>

            </div>
        </div>
        

</body>

</html>